.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 30px;
}

mat-card-title {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
  font-size: 14px;
  text-align: center;
}

a {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

a:hover {
  font-style: italic;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
