<div class="forgot-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Recuperar Contraseña </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (successMessage) {
        <p class="success">{{ successMessage }}</p>
      } @else {
        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" [(ngModel)]="email" placeholder="hola@mundo.com" />
        </mat-form-field>
        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      }
    </mat-card-content>

    <mat-card-actions>
      @if (!successMessage) {
        <button mat-raised-button color="primary" (click)="onForgotPassword()" [disabled]="isLoading">
          {{ isLoading ? 'Enviando...' : 'Enviar enlace' }}
        </button>
      }
      <a routerLink="/login">Volver al inicio de sesión</a>
    </mat-card-actions>
  </mat-card>
</div>
